---
layout: default
hide_links: true
---

<div class="post">

    {% if page.description %}
    <div class="description span-20">
        <b>Description:</b>&nbsp;{{ page.description }}
    </div>
    {% endif %}

    <div class="post-details span-24 last">


        {% unless page.tags != '' %}
        <b>Tags:</b>
        {% for tag in page.tags %}
        <i>{{ tag }}</i>
        {% endfor %}
        <br/>
        {% endunless %}

        <b>created</b>: {{ page.date | date: '%B %d, %Y' }}<br/>
        <b>updated</b>: {{ page.last_modified_at | date: '%B %d, %Y' }}<br/>

    </div>

    <div class="post-content span-24 last">

        {{ content }}
    </div>

    <div class="comments">
        <b>Feedback or Comments? Leave them <a href="https://github.com/StefanLiebenberg/slieb.org/issues">here</a></b>
    </div>
</div>
