---
layout: default
---

<div class="profile span-24 last">
  <div class="profile-sidebar span-3">
    <div class="profile-image">
      <img src="http://www.gravatar.com/avatar/9a34813321846249bb389174d7539ea9?size=230" width="230" height="230"/>
    </div>

    <div class="profile-links">



      <ul class="contact-me-list">
        <li><a href="https://github.com/StefanLiebenberg">Github</a></li>
        <li><a href="https://www.linkedin.com/pub/stefan-liebenberg/1a/b6b/262">LinkedIn</a></li>
        <li><a href="http://stackexchange.com/users/37745/stefan">StackExchange</a></li>
      </ul>

    </div>
  </div>

  <div class="profile-content span-20 last">
    {{ content }}
  </div>

</div>